@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow: hidden;
}

body{
    overflow: auto;
}

body, html {
    overflow-x: hidden;
}

.btn-primary {
    background: #167D7F!important;
    /* border-color: #167D7F!important; */
    color: white!important;
    border-radius: 0!important;
}

.btn-primary:hover {
    background-color: transparent!important;
    border-color: #167D7F!important;
    color: #167D7F!important;
    border: 1px solid #167D7F;
}

.btn-secondary {
    background: transparent!important;
    border-color: #167D7F!important;
    color: #167D7F!important;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background: #167D7F!important;
    border-color: transparent!important;
    color: white!important;
}
:where(.css-dev-only-do-not-override-cdzvx5).ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-cdzvx5).ant-btn-variant-dashed {
    border-radius: 0px;
}
